# =======================
# AMBIENTE PYTHON
# =======================
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# =======================
# NOTEBOOKS / CHECKPOINTS
# =======================
*.ipynb_checkpoints
notebooks/*

# =======================
# DADOS
# =======================
data/
*.csv
*.tsv
*.xlsx

# =======================
# MODELOS / PESADOS
# =======================
model/
!model/artifacts/
model/artifacts/*
!model/artifacts/emotion_svm_en_val_best.joblib  # mantém só o modelo campeão

# =======================
# TOKENS / SEGREDOS
# =======================
.env
*.env
kaggle.json
token-*.*
hf_*.*