# =======================
# AMBIENTE PYTHON
# =======================
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# =======================
# NOTEBOOKS / CHECKPOINTS
# =======================
*.ipynb_checkpoints
notebooks/*

# =======================
# DADOS
# =======================
data/
*.csv
*.tsv
*.xlsx

# =======================
# MODELOS / PESADOS
# =======================
# Ignora tudo em model/
model/
# Reabre a pasta artifacts
!model/artifacts/
# Ignora tudo dentro de artifacts
model/artifacts/*
# Des-ignora APENAS o campeão
!model/artifacts/emotion_svm_en_val_best.joblib

# =======================
# TOKENS / SEGREDOS
# =======================
.env
*.env
kaggle.json
token-*.*
hf_*.*

# =======================
# Arquivo do macOS
# =======================
.DS_Store